<ion-header>
  <ion-navbar class="toolbar-md-mt-primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pizarra</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-i">
  <div class="card-holder">
    <div class="card" *ngFor="let card of cards">
      <h2 class="text-center">{{card.data.name}}: {{card.data.value}}</h2>
      <ul>
        <li *ngFor="let attr of card.attributes">{{attr.name}}: {{attr.value}}</li>
      </ul>
      <br>
    </div>
  </div>

  <ul *ngFor="let item of items | async">
    <li>
      <strong>{{ item.name}}</strong>
      {{ item | json}}
    </li>
  </ul>
</ion-content>