// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import assets/styles/default-style


ul
  padding: 0 0 0 20px

.content-md
  color: #626262

ion-header.menu
  .user-zone
    background: map-get($colors, mt-primary)
    display: flex
    align-items: center
    padding: 10px
    i
      flex-grow: 1
    .user-data
      flex-grow: 4

.card-holder
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  .card
    margin: 8px
    padding: 12px
    flex-basis: 45%
    min-height: 15vh
    border: 2px dashed lightgrey